@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Suranna&display=swap');
@import 'tailwindcss';
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
::-webkit-scrollbar{
    display: none;
}
@keyframes float {
          0%, 100% { transform: translateY(0) rotate(0deg); }
          50% { transform: translateY(-20px) rotate(5deg); }
        }
@keyframes floatr {
    0%, 100% { transform: translateY(0) rotate(0deg); }
          50% { transform: translateY(20px) rotate(-5deg); }
        }

        @keyframes confetti {
          0% { transform: translateY(-100vh) rotate(0deg); }
          100% { transform: translateY(100vh) rotate(360deg); }
        }
        @keyframes sparkle {
          0% { opacity: 0; transform: scale(0.5); }
          50% { opacity: 1; transform: scale(1.2); }
          100% { opacity: 0; transform: scale(0.5); }
        }
        .animate-float { animation: float 4s ease-in-out infinite; }
        .animate-floatr { animation: floatr 4s ease-in-out infinite; }
        .animate-confetti { animation: confetti linear infinite; }
        .animate-sparkle { animation: sparkle ease-in-out infinite; }